<head>
    <title>Portfolio Robot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons generated with http://www.favicomatic.com/ !-->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="favicomatic/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicomatic/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicomatic/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicomatic/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="favicomatic/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicomatic/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="favicomatic/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicomatic/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicomatic/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicomatic/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicomatic/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicomatic/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicomatic/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Portfolio Robot"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="favicomatic/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="favicomatic/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="favicomatic/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="favicomatic/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="favicomatic/mstile-310x310.png" />
</head>

<template name="Layout">
    {{> yield region='navigation'}}
    {{> yield region='autoformModals'}}
    <div class="container">
    {{> yield region='pageheader'}}
    {{> yield}}
    {{> yield region='footer'}}
    </div>
</template>

<template name="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            {{> status}}
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class=
                        "navbar-toggle collapsed" data-target="#navbar" data-toggle=
                                "collapse"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand"
                   href="{{pathFor route='home'}}">Portfolio Robot</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="{{activeIfTemplateIs 'home'}}">
                        <a href="{{pathFor route='home'}}" data-toggle="collapse" data-target=".in">HOME</a>
                    </li>
                    {{#if currentUser}}
                    <li class="{{activeIfTemplateIs 'portfoliosummary'}}">
                        <a href="{{pathFor route='portfoliosummary'}}" data-toggle="collapse" data-target=".in">PORTFOLIOS</a>
                    </li>
                    {{/if}}
                    <li class="{{activeIfTemplateIs 'securitiesdatabase'}}">
                        <a href="{{pathFor route='securitiesdatabase'}}" data-toggle="collapse" data-target=".in">SECURITIES DATABASE</a>
                    </li>

                    <li class="{{activeIfTemplateIs 'documentation'}}">
                        <a href="{{pathFor route='documentation'}}" data-toggle="collapse" data-target=".in">DOCUMENTATION</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        {{#if currentUser}}
                        <li><a href="" id="logout" data-toggle="collapse" data-target=".in">LOGOUT <span aria-hidden="true" class="glyphicon glyphicon-log-out"></span></a>
                        </li>
                        {{else}}
                        <li class="{{activeIfTemplateIs 'register'}}">
                            <a href="{{pathFor route='register'}}" data-toggle="collapse" data-target=".in">REGISTER <span aria-hidden="true" class="glyphicon glyphicon-user"></span></a>
                        </li>
                        <li class="{{activeIfTemplateIs 'signin'}}">
                            <a href="{{pathFor route='signin'}}" data-toggle="collapse" data-target=".in">SIGN IN <span aria-hidden="true" class="glyphicon glyphicon-log-in"></span></a>
                        </li>
                        {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>


<template name="pageheader">
    <div class="page-header">
        <img src="/logo-96x96.png" width="64px" height="64px">
        <h1>Portfolio Robot
            <!--<small><span id="name">{{portfolioname}}</span></small>-->
        </h1>
    </div>
</template>

<template name="home">
<!--        <div id="bgvideo">
            <div class="container">
        <h1 class="bgvideoheader white"><span aria-hidden="true" class=
                        "glyphicon glyphicon-stats"></span> Portfolio Robot
            <small><span id="name">{{portfolioname}}</span></small>
        </h1>
</div></div>!-->

    <div class="row">
        <div class="col-sm-12">
            <p>Portfolio Robot is a portable analytics platform that facilitates management of portfolio risk,
                performance, allocation and accounting.</p>

            <p>It is the ideal alternative for independent investors currently using Yahoo Finance, Google Finance or
                Excel to monitor their portfolios. The cloud hosted interface uses sophisticated data analysis to identify weaknesses and opportunities in investment portfolios.</p>


        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h3 style="margin-top: 0">Demo account</h3>
                        <p>To take it for a test run before registering for yourself, check out the demo account:</p>
            <p><strong>Username:</strong> portfoliorobot@portfoliorobot.com
            <br /><strong>Password:</strong> portfoliorobot</p>
            </div></div><hr>

    <div class="row">
        <div class="col-sm-12">
            <h3 style="margin-top: 0">Features</h3>
            <ul>
                <li>Asset Allocation
                    <ul>
                        <li>By position, currency, sector and industry.</li>
                    </ul>
                </li>
                <li>Portfolio Analytics
                    <ul>
                        <li>Portfolio return, volatility, sharpe, max drawdown and days to recover compared to your choice of benchmark index.</li>
                        <li>Returns also provided on a monthly basis since portfolio inception.</li>
                    </ul>
                </li>
                <li>Asset Returns
                    <ul>
                        <li>After accounting for commissions, dividends, splits and capital movements.</li>
                    </ul>
                </li>
                <li>Currency impact and movements
                    <ul>
                        <li>Impact of currency on asset and overall portfolio return.</li>
                        <li>Line chart to show relevant historical exchange rates.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</template>

<template name="portfoliosummary">
        {{#unless portfolio.count}}
        <div class="row">
        <div class="col-xs-12">
        <div class="alert alert-warning">You haven't added any portfolios yet, click the 'Create new' button to get started.</div>
        </div>
        </div>
        {{/unless}}
        <div class="row anchor" id="portfoliosummary">
        <div class="col-sm-9">
            <h2 style="margin-top: 0">Portfolios</h2>
        </div>
        <div class="col-sm-3 text-xs-center text-sm-right">
            {{#afModal id="newportfolioform" class="btn btn-sm btn-primary valign_button" collection="portfolio" operation="insert"  omitFields="portfolioowner,entered,enteredby,status" title="Create new portfolio" buttonContent="Create" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}Create new <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>{{/afModal}}
        </div>
    </div>
    <div class="row">
            {{> tabular table=TabularTables.table_portfolio class="table table-bordered table-hover table-responsive"}}
    </div>
</template>

<template name="portfolioactions">
    <a class="btn btn-primary btn-sm vspace_button" href="/portfolio-detail/{{this._id}}">
        View <span aria-hidden="true" class="glyphicon glyphicon-stats"></span>
    </a>
    {{#afModal class="btn btn-warning btn-sm vspace_button" collection="portfolio" operation="update" title="Edit portfolio" doc=this._id template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" omitFields="portfolioowner,entered,enteredby,status"}}
        Edit <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
    {{/afModal}}
    {{#afModal class="btn btn-danger btn-sm vspace_button" collection="portfolio" operation="remove" title="Delete portfolio" doc=this._id template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        Delete <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
    {{/afModal}}
</template>

<template name="portfoliodetail">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                {{#each portfolio}}
                <h2>{{name}} ({{currency}})</h2>
                {{/each}}
            </div>
        </div>
        <hr>

        {{#unless transaction.count}}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning">This portfolio doesn't have any transactions yet, click the 'Add new' button to get started.</div>
            </div>
        </div>
        {{/unless}}

        <div class="row anchor" id="transactions">
        <div class="col-sm-5">
            <h2>Transactions</h2>
        </div>
        <div class="col-sm-7 text-xs-center text-sm-right">
            <button class="btn btn-sm btn-default valign_button download_button disabled" csvrequest="">Download table in CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>

            <label class="btn btn-sm btn-default valign_button" for="uploadcsv">
            {{#unless uploading}}
            Add new using CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-upload"></span><input type="file" id="uploadcsv" name="uploadcsv"  style="display:none;">
            {{else}}
            Uploading...
            {{/unless}}
                </label>
        {{#afModal formId="newtransactionform" class="btn btn-sm btn-primary valign_button" collection="transaction" operation="insert" title="Add new transaction" buttonContent="Add" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" omitFields="portfolio,portfolioowner,entered,enteredby"}}Add new <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>{{/afModal}}
        </div>
    </div>
    <div class="row">
            {{> tabular table=TabularTables.table_transaction class="table table-bordered table-hover table-responsive" selector=table_transaction_selector}}
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-xs-12">
            <div class="btn-group">
                {{#each portfolio}}
            {{#if equals status 'PENDING'}}
            <button type="button" class="btn btn-md btn-primary">Pending...</button>
                {{else}}
                {{#if equals status 'STARTED'}}
                <button type="button" class="btn btn-md btn-success">Started...</button>
            {{else}}
                {{#if equals status 'FAILURE'}}
            <button type="button" class="btn btn-md btn-danger start_button">{{shorterror}}</button>
                {{else}}
            <button type="button" class="btn btn-md btn-primary start_button">Refresh <span aria-hidden="true" class="glyphicon glyphicon-play"></span></button>
            {{/if}}
                {{/if}}
                {{/if}}
                <button type="button" class="btn btn-md btn-default disabled">{{formatdate startdate}}</button>
                <button type="button" class="btn btn-md btn-default disabled">{{formatdate enddate}}</button>
            {{/each}}
            </div>
        </div>
    </div>
        {{#each portfolio}}
        {{#if equals status 'SUCCESS'}}
    <hr>
    <div class="row text-center">
        <div class="col-sm-4">
            <div>
                NAV price per share:
            </div>
            <h2>{{formatnumber2dp p_navprice_end}}</h2>
        </div>
        <div class="col-sm-4">
            <div>
                # of shares:
            </div>
            <h2>{{formatnumbernodp p_navshares_end}}</h2>
        </div>
        <div class="col-sm-4">
            <div>
                NAV:
            </div>
            <h2>{{formatnumber2dp p_mv_end}}</h2>
        </div>
    </div>
    <hr>
    <div class="row anchor" id="asset_allocation">
        <div class="col-sm-9">
            <h2>Allocation</h2>
        </div>
        <div class="col-sm-3 text-xs-center text-sm-right">
            <button class="btn btn-sm btn-default download_button valign_button" csvrequest="table_aa">Download table in CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div id="chart_allocation">{{create_chart_allocation}}</div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div id="chart_currencyallocation">{{create_chart_currencyallocation}}</div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div id="chart_sectorallocation">{{create_chart_sectorallocation}}</div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div id="chart_industryallocation">{{create_chart_industryallocation}}</div>
        </div>
    </div>
    <div class="row">
            {{> tabular table=TabularTables.table_aa selector=table_aa_selector class="table table-bordered table-hover table-responsive"}}
    </div>
    <hr>
    <div class="row anchor" id="return_vs_benchmarks">
        <div class="col-sm-6">
            <h2>Portfolio and Benchmark Analytics</h2>
        </div>
        <div class="col-sm-6 text-xs-center text-sm-right">
            <button class="btn btn-sm btn-default download_button valign_button hspace_button" csvrequest="p_bm_cumulativereturns">Download chart in CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>
        <button class="btn btn-sm btn-default download_button valign_button" csvrequest="table_analytics">Download table in CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>
        </div>
    </div>

    <!-- Testing Chart.js
    <div class="row">
        <div class="col-xs-12">
            <canvas id="myChart" width="600" height="600">{{create_test}}</canvas>
        </div>
    </div>!-->


    <div class="row">
        <div class="col-xs-12">
            <div id="p_bm_cumulativereturns">{{create_p_bm_cumulativereturns}}</div>
            <!--{{> highchartsHelper chartId="p_bm_cumulativereturns" charcharHeight="100%" chartObject=p_bm_cumulativereturns}}-->
        </div>
    </div>
    <div class="row">
            {{> tabular table=TabularTables.table_analytics selector=table_analytics_selector class="table table-bordered table-hover table-responsive"}}
    </div>
    <hr>
    <div class="row anchor" id="monthly_and_yearly_returns">

        <div class="col-sm-9">
            <h2>Portfolio Monthly and Yearly Return %</h2>
        </div>
        <div class="col-sm-3 text-xs-center text-sm-right">
            <button class="btn btn-sm btn-default download_button valign_button" csvrequest="table_monthlyreturns">Download table in CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>
        </div>
    </div>
    <div class="row">
            {{> tabular table=TabularTables.table_monthlyreturns selector=table_monthlyreturns_selector class="table table-bordered table-hover table-responsive"}}
    </div>
    <hr>
    <div class="row anchor">

        <div class="col-sm-6">
            <h2>Asset Performance</h2>
        </div>
        <div class="col-sm-6 text-xs-center text-sm-right">
            <button class="btn btn-sm btn-default download_button valign_button hspace_button" csvrequest="eq_pnl_cumpct">Download chart in CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>
            <button class="btn btn-sm btn-default download_button valign_button" csvrequest="table_ap">Download table in CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="eq_pnl_cumpct">{{create_eq_pnl_cumpct}}</div>
        </div>
    </div>
    <div class="row">
            {{> tabular table=TabularTables.table_ap selector=table_ap_selector width="100%" class="table table-bordered table-hover table-responsive"}}
    </div>
    <hr>

    <div class="row anchor" id="currency_impact">

        <div class="col-sm-9">
            <h2>Currency Impact</h2>
        </div>
        <div class="col-sm-3 text-xs-center text-sm-right">
            <!--<button class="btn btn-sm btn-default download_button valign_button" csvrequest="chart_currencymovements">Download chart in CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>-->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="chart_currencyimpact">{{create_chart_currencyimpact}}</div>
        </div>
    </div>
    <hr>

    <div class="row anchor" id="currency_movements">

        <div class="col-sm-9">
            <h2>Currency Movements</h2>
        </div>
        <div class="col-sm-3 text-xs-center text-sm-right">
            <button class="btn btn-sm btn-default download_button valign_button" csvrequest="chart_currencymovements">Download chart in CSV <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="chart_currencymovements">{{create_chart_currencymovements}}</div>
        </div>
    </div>
    <hr>

    <div class="row anchor" id="csvdownloads">
        <div class="col-xs-12">
            <h3>CSV Data Downloads</h3></div>

        <!--<p><button class="btn btn-sm btn-default download_button valign_button pull-right" csvrequest="table_transactiondetil"> transactiondetail</button> <button class="btn btn-sm btn-default download_button valign_button pull-right" csvrequest="table_corporateactions"> Corporate actions</button></p>-->
        <div class="col-xs-12 text-xs-center text-sm-left">
            <button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="eq_price">eq_price <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="eq_quantity">eq_quantity <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="eq_dividend">eq_dividend <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="eq_split">eq_split <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="eq_currency">eq_currency <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="txn_price">txn_price <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="txn_quantity">txn_quantity <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="txn_currency">txn_currency <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="txn_commission">txn_commission <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button hspace_button" csvrequest="bm_price">bm_price <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button><button class="btn btn-sm btn-default download_button vspace_button" csvrequest="bm_currency">bm_currency <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span></button>
        </div>
    </div>
    {{/if}}
        {{/each}}
</template>

<template name="transactionactions">
    <!-- Unsure why manual h spacing is required for these buttons but not portfolioactions -->
    {{#afModal class="btn btn-warning btn-sm vspace_button hspace_button" collection="transaction" operation="update" title="Edit transaction" doc=this._id template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" omitFields="portfolio,portfolioowner,entered,enteredby"}}
  Edit <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
{{/afModal}}{{#afModal class="btn btn-danger btn-sm vspace_button" collection="transaction" operation="remove" title="Delete transaction" doc=this._id template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
  Delete <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
{{/afModal}}
</template>

<template name="securitiesdatabase">
    <div class="row">
               {{> tabular table=TabularTables.table_securitiesdatabase selector=table_securitiesdatabase width="100%" class="table table-bordered table-hover table-responsive"}}
    </div>
</template>

<template name="documentation">
    <div class="row">
        <div class="col-sm-12">
            <h3 style="margin-top: 0">Who are Portfolio Robot’s data providers?</h3>
            <p>Historical prices, splits, dividends and company profile information are sourced from <a href="http://finance.yahoo.com/" target="_blank">Yahoo Finance</a>. As Yahoo Finance’s API only supports pulls for USD pairs, end of day currency data is sourced from <a href="https://www.quandl.com/data/CURRFX" target="_blank">Quandl</a>.</p>

            <h3>How often is market data updated?</h3>
            <p>Data is refreshed daily for all tickers and currencies at 03.00 UTC. </p>

            <h3>I can’t find a ticker on the drop down?</h3>
            <p>This means we don’t have it in our database. Not to worry though - as long as your security is available on Yahoo Finance then we should be able to import it. Manually enter your ticker and Portfolio Robot will download all required data on its next refresh.</p>
            <p>Note that all tickers must be in the Yahoo Finance format, a ticker lookup service is provided <a href="http://finance.yahoo.com/lookup" target="_blank">here</a> and information on supported exchanges <a href="https://help.yahoo.com/kb/SLN2310.html" target="_blank">here</a>.</p>

            <h3>What security types are supported?</h3>
            <p>Portfolio Robot currently only supports equities.</p>

            <h3>How does Portfolio Robot calculate investment returns?</h3>
            <p>The industry standard Time Weighted Rate of Return is applied. Currently it is assumed all dividends are paid out in cash and withdrawn from the portfolio (no dividend reinvestment).</p>

            <h3>My base currency or benchmark is not listed?</h3>
            <p>Please let me know and I will do my best to have it added.  Historical data for Dow Jones Industrial Average (^DJI) is not available from Yahoo Finance and hence at this time not available on Portfolio Robot.</p>

            <h3>How do I add transactions in bulk using a CSV file?</h3>
            <p>Download the example CSV file <a href="../exampletransactions.csv" target=“_blank”>here</a>. In the 'portfolio' column you'll need to put the relevant portfolioid. To find this, on the portfolios page click the View button next to the portfolio you want the transactions added to and take the id from the address bar in your browser. For example http://portfoliorobot.com/portfolio-detail/WfHCFXsYwzcTEb2e2 has portfolioid WfHCFXsYwzcTEb2e2. Yes, this means you can add transactions for multiple portfolios at the same time.</p>

            <h3>I have another query?</h3>
            <p>Email me on <a href="mailto:nzwade@gmail.com">nzwade@gmail.com</a>.</p>

        </div>
    </div>
</template>

<template name="footer">
    <footer class="footer">
            <div class="text-center">
                <hr>
                <p>
                    <a href="mailto:nzwade@gmail.com"><button class="btn btn-sm btn-default">nzwade@gmail.com <span aria-hidden="true" class="glyphicon glyphicon-comment"></span></button></a>
                </p>
            </div>
    </footer>
</template>