/* CUSTOM FONTS */
@font-face {
	font-family: 'Brandon Grotesque Regular';
	src: url(BrandonGrotesque/Brandon_reg.otf);
	font-weight: 400;
}

@font-face {
	font-family: 'Brandon Grotesque Medium';
	src: url(BrandonGrotesque/Brandon_med.otf);
}

@font-face {
	font-family: 'Brandon Grotesque Bold';
	src: url(BrandonGrotesque/Brandon_bld.otf);
	font-weight: 700;
}

@font-face {
	font-family: 'Brandon Grotesque Black';
	src: url(BrandonGrotesque/Brandon_blk.otf);
}

/* BODY */
body {
	padding-top: 50px;
	position: relative;
	font-family: 'Brandon Grotesque Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #3f3f3f;
}

strong {
	font-family: 'Brandon Grotesque Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* HEADINGS */
h1 {
	font-family: 'Brandon Grotesque Black', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #094064;
	display: inline;
	vertical-align: middle;
	margin-left: 10px;
}

h2, h3, h4 {
	font-family: 'Brandon Grotesque Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* NAV */
.navbar-default {
    background-color: #fff;
    }

.navbar-default .navbar-brand {
	font-family: 'Brandon Grotesque Black', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #094064;
}

.navbar-nav {
	font-family: 'Brandon Grotesque Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #3f3f3f;
	font-size: 12px;
	letter-spacing: 0.5px;
}

/* P HYPERLINKS */
p a:visited {
    color: #3f3f3f !important;
}

p a:hover{
    color: #ffd427 !important;
}

p a {
    color: #094064 !important;
    text-decoration: underline;
}

/* BUTTON ALIGNMENT */
.valign_button {
	margin-top: 20px;
	margin-bottom: 10px;
}

.hspace_button {
	margin-right: 2.5px;
}

.vspace_button {
	margin-bottom: 2.5px;
}

/* RESPONSIVE TEXT ALIGNMENT */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

/* VIDEO */
/*
#bgvideo {
	height: 350px;
	position: relative;
}

.bgvideoheader {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
}*/

/* Custom CSS for dropdown */
.newtickertypeahead-exchange {
	float: right;
	font-style: italic;
}

.newtickertypeahead-ticker {
	font-weight: 700;
}

.newtickertypeahead-name {
	font-size: 14px;
}

/* ANCHOR LINK FIX */
.anchor {
	padding-top: 50px;
	margin-top: -50px;
}

/* CONNECTION TIMEOUT ALERT FIX */
.alert {
	margin-bottom: 0;
}

/* COLOURS */
.white {
	color: #fff;
}

/*.black {
	color: #333;
}*/
/* removed as no longer required
table.dataTable thead > tr > th {
	padding-left: 8px;
}

.table tbody>tr>td {
	vertical-align: middle;
}

*/
/*
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;}
*/
/** {
  border-radius: 0 !important;
}*/
/* basic typeahead styles

.typeahead,
.tt-query,
.tt-hint {
  width: 100pct;
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100pct;
  margin: 4px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}*/